<div id="cover">
	<div id="profile" alt="<% if (theme.cover.enable) { %><%= theme.cover.url%><% } %>">
		<div href="<%-config.root%>" id="title" class="title">
			<a class="title_link"><%-config.title%><i>ME</i></a>
		</div>

		<% if (config.subtitle) {%>
			<div id="subtitle" class="subtitle">
				<span class="subtitle_content"><%- config.subtitle %></span>
			</div>
		<% } %>
		<%- partial('_partial/social') %>
	</div>
</div>

<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<%- partial('_partial/pagination', {article: false}) %>

<%- js(['js/jquery.anystretch.min.js', 'js/cover.js','js/skrollr.min.js']) %>
<script type="text/javascript">
	if(window.ontouchstart === undefined){
		//视差滚动仅仅用在PC端
		setTimeout(function(){
			$('#profile').attr({"data-0":"top:0px;opacity:1;","data-1000":"top:500px;opacity:.2;"});//logo
			$('#socials').attr({"data-0":"margin-top:80px;","data-1000":"margin-top:-30px;"});//社交logo
			$('.anystretch img').attr({'data-0':'margin-top:0px','data-1000':'margin-top:150px','data-1001':'margin-top:0px'});//大bnner
			var Skrollr = skrollr.init();//视差滚动
		},100)
	}
</script>
