<%var sliderFlag;if(item.type=='slider'){sliderFlag='<i class="fa fa-file-powerpoint-o"></i>';}else{sliderFlag=''}%> 
<% if (item.link){ %>
  <% if (item.title){ %>
    <h1 class="title"><a href="<%- item.link %>" target="_blank"><%- sliderFlag %> <%= item.title %></a></h1>
  <% } else { %>
    <h1 class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h1 class="title">
      <a href="<%- config.root %><%- item.path %>" target="_blank"><%- sliderFlag %> <%= item.title %></a>
    </h1>
  <% } else { %>
    <h1 class="title"><%- sliderFlag %> <%= item.title %></h1>
  <% } %>
<% } %>
<div class="collection">
  <time datetime="<%= item.date.toDate().toISOString() %>"><i class="fa fa-clock-o"></i><span> <%- full_date(item.date, theme.full_format) %></span></time>
  <%- partial('category') %>
  <%- partial('tag') %>
</div>
<div class="clear"></div>