<div id="cover">
	<div id="profile" alt="<% if (theme.cover.enable) { %><%= theme.cover.url%><% } %>">
		<div href="<%-config.root%>" id="title" class="title">
			<a class="title_link"><%-config.title%><i>ME</i></a>
		</div>

		<% if (config.subtitle) {%>
			<div id="subtitle" class="subtitle">
				<span class="subtitle_content"><%- config.subtitle %></span>
			</div>
		<% } %>
		<%- partial('_partial/social') %>
	</div>
</div>

<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<%- partial('_partial/pagination', {article: false}) %>

<%- js(['js/jquery.anystretch.min.js', 'js/cover.js']) %>
